Repository software-mansion/cairols, changes with the owners that .github/CODEOWNERS names for each.
All owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @Draggu, @arcticae, @wawel37

Add test for use statements completions
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Snippet completions for non-method functions
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Refactor `ProcMacroController`
  src/config.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/client/mod.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lib.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu

Refactor `ProcMacroController` (#1009)
  src/config.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/client/mod.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lib.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu

Fix test code lenses
  src/ide/code_lens/tests.rs
  src/lang/db/semantic.rs
  src/lang/db/syntax.rs
  tests/e2e/code_lens/mod.rs
  tests/e2e/code_lens/snforge.rs
Owners: @Draggu, @arcticae, @software-mansion/cairo-ls

Fix test code lenses (#1008)
  src/ide/code_lens/tests.rs
  src/lang/db/semantic.rs
  src/lang/db/syntax.rs
  tests/e2e/code_lens/mod.rs
  tests/e2e/code_lens/snforge.rs
Owners: @Draggu, @arcticae, @software-mansion/cairo-ls

Implement runtime loading of workspaces in Proc Macro Server
  .tool-versions
  Cargo.lock
  Cargo.toml
  src/ide/analysis_progress.rs
  src/lang/proc_macros/client/mod.rs
  src/lang/proc_macros/client/status.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/lib.rs
  src/project/mod.rs
  src/server/routing/handlers.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Allow dynamic loading of proc macros in multiple workspaces (#992)
  .tool-versions
  Cargo.lock
  Cargo.toml
  src/ide/analysis_progress.rs
  src/lang/proc_macros/client/mod.rs
  src/lang/proc_macros/client/status.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/lib.rs
  src/project/mod.rs
  src/server/routing/handlers.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Docs update
  website/docs/settings.md
Owners: @software-mansion/cairo-ls

Add support for handling optional `trait_id` in `format_type` function
  src/ide/code_actions/fill_trait_members.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/struct_constructor.rs
  src/ide/format/types.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/ide/inlay_hints/mod.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/variable.rs
  tests/e2e/completions/dot.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls, @arcticae

Add signature for functions in dot completions (#999)
  src/ide/code_actions/fill_trait_members.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/helpers/mod.rs
  src/ide/completion/struct_constructor.rs
  src/ide/format/types.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/ide/inlay_hints/mod.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/variable.rs
  tests/e2e/completions/dot.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls, @arcticae

Stop using `FileId` from `FileModuleId` where possible
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/fill_trait_members.rs
  src/ide/macros/expand/mod.rs
  src/lang/importer.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls

Stop using `FileId` from `FileModuleId` where possible (#1021)
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/fill_trait_members.rs
  src/ide/macros/expand/mod.rs
  src/lang/importer.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls

LS settings docs (#1014)
  website/.vitepress/components/Home.vue
  website/.vitepress/config.mjs
  website/docs.md
  website/docs/settings.md
  website/package-lock.json
  website/package.json
Owners: @software-mansion/cairo-ls

support top level macros also
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/path.rs
Owners: @Draggu, @wawel37

Use upstreamed QueryPatternVariablesFromDb and file_syntax
  Cargo.lock
  Cargo.toml
  src/ide/format/documents.rs
  src/ide/inlay_hints/mod.rs
  src/ide/introspection/syntax_tree/mod.rs
  src/ide/macros/expand/expr.rs
  src/ide/navigation/goto_definition.rs
  src/ide/semantic_highlighting/mod.rs
  src/lang/db/mod.rs
  src/lang/db/semantic.rs
  src/lang/db/syntax.rs
  src/lang/db/upstream.rs
Owners: @software-mansion/cairo-ls, @Draggu, @arcticae, @wawel37

Fix CI
  .github/workflows/ci.yml
Owners: @software-mansion/cairo-ls

Use upstreamed `QueryPatternVariablesFromDb` and `file_syntax` (#1022)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/ide/format/documents.rs
  src/ide/inlay_hints/mod.rs
  src/ide/introspection/syntax_tree/mod.rs
  src/ide/macros/expand/expr.rs
  src/ide/navigation/goto_definition.rs
  src/ide/semantic_highlighting/mod.rs
  src/lang/db/mod.rs
  src/lang/db/semantic.rs
  src/lang/db/syntax.rs
  src/lang/db/upstream.rs
Owners: @software-mansion/cairo-ls, @Draggu, @arcticae, @wawel37

Highlight tests for declarative macros
  tests/e2e/document_highlight/macros.rs
  tests/e2e/document_highlight/mod.rs
Owners: @piotmag769, @integraledelebesgue

Propose use completions when no text is typed
  src/ide/completion/use_statement.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Highlight tests for declarative macros (#990)
  tests/e2e/document_highlight/macros.rs
  tests/e2e/document_highlight/mod.rs
Owners: @piotmag769, @integraledelebesgue

Refactor suffix completions
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
Owners: @Draggu, @wawel37

Propose use completions when no text is typed (#958)
  src/ide/completion/use_statement.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Add test for use statements completions
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Snippet completions for non-method functions
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Add test for use statements completions (#962)
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Display path details to all completions
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/order.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/structs.rs
  tests/e2e/completions/traits.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Snippet completions for non-method functions (#964)
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

bump cairo deps
  Cargo.lock
  Cargo.toml
Owners: @software-mansion/cairo-ls

adjust to deps changes
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/code_lens/tests.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  src/ide/completion/struct_constructor.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/lang/analysis_context.rs
  src/lang/db/mod.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/mod.rs
  src/lang/diagnostics/lsp.rs
  src/lang/importer.rs
  src/lang/methods.rs
  src/lang/visibility.rs
Owners: @Draggu, @integraledelebesgue, @arcticae, @wawel37, @software-mansion/cairo-ls, @piotmag769

Display path details to all completions
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/order.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/structs.rs
  tests/e2e/completions/traits.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Support declarative macros in completions
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/helpers/item.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

bump deps
  Cargo.lock
  Cargo.toml
Owners: @software-mansion/cairo-ls

format
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_lens/tests.rs
  src/ide/hover/render/literal.rs
  src/lang/db/semantic.rs
Owners: @Draggu, @integraledelebesgue, @arcticae, @wawel37, @software-mansion/cairo-ls

Add completion type hints where possible
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  tests/e2e/completions/patterns.rs
  tests/e2e/completions/traits.rs
  tests/e2e/completions/uses.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

format
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_lens/tests.rs
  src/ide/hover/render/literal.rs
  src/lang/db/semantic.rs
Owners: @Draggu, @integraledelebesgue, @arcticae, @wawel37, @software-mansion/cairo-ls

rename + format
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/fill_trait_members.rs
  src/ide/code_actions/missing_import.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/code_lens/tests.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  src/ide/hover/mod.rs
  src/ide/hover/render/literal.rs
  src/ide/inlay_hints/mod.rs
  src/lang/analysis_context.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/mod.rs
  src/lang/importer.rs
  src/lang/methods.rs
Owners: @Draggu, @integraledelebesgue, @arcticae, @wawel37, @software-mansion/cairo-ls

undo unneeded dep change
  Cargo.toml
Owners: @software-mansion/cairo-ls

bump lint
  Cargo.lock
  Cargo.toml
  src/lang/diagnostics/lsp.rs
  src/lang/lsp/ls_proto_group_test.rs
  src/lang/proc_macros/db.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @arcticae, @Draggu

fix file id
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
Owners: @Draggu, @integraledelebesgue

.github/CODEOWNERS:

* @software-mansion/cairo-ls

/src/project @integraledelebesgue @piotmag769
/tests/e2e/analysis.rs @integraledelebesgue @piotmag769

/src/server @integraledelebesgue @Draggu @arcticae
/src/server/routing

/src/ide/code_actions @Draggu @integraledelebesgue
/tests/e2e/code_actions @Draggu @integraledelebesgue

/src/ide/code_lens @Draggu @arcticae
/tests/e2e/code_lens @Draggu @arcticae

/src/ide/completion @Draggu @wawel37
/tests/e2e/completions @Draggu @wawel37

/src/ide/hover @integraledelebesgue @wawel37
/tests/e2e/hover @integraledelebesgue @wawel37

/src/ide/inlay_hints @Draggu @arcticae
/tests/e2e/inlay_hints @Draggu @arcticae

/src/ide/instrospection @integraledelebesgue @piotmag769

/src/ide/macros @Draggu @wawel37
/tests/e2e/macros @Draggu @wawel37 @piotmag769

/src/ide/macros/navigation/goto_definition.rs @piotmag769 @wawel37
/tests/e2e/goto_definition @piotmag769 @wawel37

/src/ide/macros/navigation/highlight.rs @piotmag769 @integraledelebesgue
/tests/e2e/document_highlight @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/references.rs @piotmag769 @integraledelebesgue
/tests/e2e/find_references @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/rename.rs @piotmag769 @arcticae
/tests/e2e/rename @piotmag769 @arcticae

/src/ide/macros/semantic_highlighting @wawel37 @Draggu
/tests/e2e/semantic_tokens @wawel37 @Draggu

/src/ide/macros/analysis_progress.rs @arcticae @Draggu
/src/lang/defs @arcticae @wawel37
/src/lang/diagnostics @piotmag769 @arcticae
/src/lang/proc_macros @piotmag769 @Draggu
/src/lang/usages @piotmag769 @wawel37
/src/lang/rename_file.rs @Draggu @arcticae

/tests/e2e/scarb @piotmag769 @arcticae
/tests/e2e/linter.rs @integraledelebesgue @wawel37
