Repository software-mansion/cairols, changes with the owners that .github/CODEOWNERS names for each.
All owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @Draggu, @arcticae, @wawel37

.github/CODEOWNERS:

* @software-mansion/cairo-ls

/src/project @integraledelebesgue @piotmag769
/tests/e2e/analysis.rs @integraledelebesgue @piotmag769

/src/server @integraledelebesgue @Draggu @arcticae
/src/server/routing

/src/ide/code_actions @Draggu @integraledelebesgue
/tests/e2e/code_actions @Draggu @integraledelebesgue

/src/ide/code_lens @Draggu @arcticae
/tests/e2e/code_lens @Draggu @arcticae

/src/ide/completion @Draggu @wawel37
/tests/e2e/completions @Draggu @wawel37

/src/ide/hover @integraledelebesgue @wawel37
/tests/e2e/hover @integraledelebesgue @wawel37

/src/ide/inlay_hints @Draggu @arcticae
/tests/e2e/inlay_hints @Draggu @arcticae

/src/ide/instrospection @integraledelebesgue @piotmag769

/src/ide/macros @Draggu @wawel37
/tests/e2e/macros @Draggu @wawel37 @piotmag769

/src/ide/macros/navigation/goto_definition.rs @piotmag769 @wawel37
/tests/e2e/goto_definition @piotmag769 @wawel37

/src/ide/macros/navigation/highlight.rs @piotmag769 @integraledelebesgue
/tests/e2e/document_highlight @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/references.rs @piotmag769 @integraledelebesgue
/tests/e2e/find_references @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/rename.rs @piotmag769 @arcticae
/tests/e2e/rename @piotmag769 @arcticae

/src/ide/macros/semantic_highlighting @wawel37 @Draggu
/tests/e2e/semantic_tokens @wawel37 @Draggu

/src/ide/macros/analysis_progress.rs @arcticae @Draggu
/src/lang/defs @arcticae @wawel37
/src/lang/diagnostics @piotmag769 @arcticae
/src/lang/proc_macros @piotmag769 @Draggu
/src/lang/usages @piotmag769 @wawel37
/src/lang/rename_file.rs @Draggu @arcticae

/tests/e2e/scarb @piotmag769 @arcticae
/tests/e2e/linter.rs @integraledelebesgue @wawel37

Update hover rendering to display member and variant defs only (#960)
  src/ide/hover/render/definition.rs
  tests/e2e/hover/basic.rs
  tests/e2e/hover/structs.rs
  tests/e2e/hover/traits.rs
Owners: @integraledelebesgue, @wawel37

Add signature for functions in dot completions
  src/ide/completion/dot_completions.rs
  tests/e2e/completions/dot.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Working struct completion initializator
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  src/lib.rs
Owners: @Draggu, @wawel37, @software-mansion/cairo-ls

Use nightly Rust toolchain
  .github/workflows/cairo-update-check.yml
  .github/workflows/ci.yml
  .github/workflows/scarb-nightly-check.yml
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/code_lens/executables.rs
  src/ide/code_lens/mod.rs
  src/ide/code_lens/tests.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/item.rs
  src/ide/semantic_highlighting/mod.rs
  src/lang/db/semantic.rs
  src/lang/db/swapper.rs
  src/lang/db/syntax.rs
  src/lang/defs/mod.rs
  src/lang/diagnostics/file_diagnostics.rs
  src/lang/diagnostics/lsp.rs
  src/lang/importer.rs
  src/lang/lsp/ls_proto_group.rs
  src/lang/lsp/ls_proto_group_test.rs
  src/lang/members.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/project/crate_data.rs
  src/project/model/configs_registry/package_config_test.rs
  src/project/model/mod.rs
  src/project/unmanaged_core_crate.rs
  tests/e2e/code_lens/executable.rs
  tests/e2e/external_tools_config.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @arcticae, @wawel37, @piotmag769

Use nightly Rust toolchain for the format check (#998)
  .github/workflows/cairo-update-check.yml
  .github/workflows/ci.yml
  .github/workflows/scarb-nightly-check.yml
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/code_lens/executables.rs
  src/ide/code_lens/mod.rs
  src/ide/code_lens/tests.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/item.rs
  src/ide/semantic_highlighting/mod.rs
  src/lang/db/semantic.rs
  src/lang/db/swapper.rs
  src/lang/db/syntax.rs
  src/lang/defs/mod.rs
  src/lang/diagnostics/file_diagnostics.rs
  src/lang/diagnostics/lsp.rs
  src/lang/importer.rs
  src/lang/lsp/ls_proto_group.rs
  src/lang/lsp/ls_proto_group_test.rs
  src/lang/members.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/project/crate_data.rs
  src/project/model/configs_registry/package_config_test.rs
  src/project/model/mod.rs
  src/project/unmanaged_core_crate.rs
  tests/e2e/code_lens/executable.rs
  tests/e2e/external_tools_config.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @arcticae, @wawel37, @piotmag769

Use Scarb version with new PMS protocol
  .tool-versions
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_dependency__removing_dependency.snap
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_member__removing_member.snap
  tests/e2e/scarb/snapshots/e2e__scarb__opening_multiple_workspaces__opening_dependency_first.snap
  tests/e2e/scarb/unmanaged_core.rs
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates.snap
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates_assert_macros.snap
Owners: @software-mansion/cairo-ls, @piotmag769, @arcticae

Implement runtime loading of proc macros from arbitrary workspaces
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/ide/analysis_progress.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/client/mod.rs
  src/lang/proc_macros/client/status.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/lib.rs
  src/project/mod.rs
  src/server/routing/handlers.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Add tests
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/structs.rs
Owners: @Draggu, @wawel37

cleanup
  src/ide/completion/mod.rs
  src/lib.rs
Owners: @Draggu, @wawel37, @software-mansion/cairo-ls

Remove newlines from struct init snippet
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/structs.rs
Owners: @Draggu, @wawel37

Fix resetting proc macro resolutions
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
Owners: @piotmag769, @Draggu

Fix condition on which the failure notification is sent
  .github/workflows/cairo-update-check.yml
Owners: @software-mansion/cairo-ls

Fix executable lens placement
  src/ide/code_lens/executables.rs
  tests/e2e/code_lens/executable.rs
  tests/e2e/code_lens/snapshots/e2e__code_lens__executable__one_executable_with_trivia.snap
Owners: @Draggu, @arcticae

Fix tests
  tests/e2e/scarb/simple_deps.rs
  tests/e2e/scarb/snapshots/e2e__scarb__simple_deps__simple_deps.snap
Owners: @piotmag769, @arcticae

Fix tests (#1001)
  tests/e2e/scarb/simple_deps.rs
  tests/e2e/scarb/snapshots/e2e__scarb__simple_deps__simple_deps.snap
Owners: @piotmag769, @arcticae

Fix test code lenses
  src/ide/code_lens/tests.rs
  src/lang/db/syntax.rs
Owners: @Draggu, @arcticae, @software-mansion/cairo-ls

Fix resetting proc macro resolutions (#1005)
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
Owners: @piotmag769, @Draggu

Bump scarb
  .tool-versions
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_dependency__removing_dependency.snap
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_member__removing_member.snap
  tests/e2e/scarb/snapshots/e2e__scarb__opening_multiple_workspaces__opening_dependency_first.snap
  tests/e2e/scarb/snapshots/e2e__scarb__simple_deps__simple_deps.snap
  tests/e2e/scarb/unmanaged_core.rs
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates.snap
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates_assert_macros.snap
Owners: @software-mansion/cairo-ls, @piotmag769, @arcticae

Fix condition on which the bump-cairo failure notification is sent (#1006)
  .github/workflows/cairo-update-check.yml
Owners: @software-mansion/cairo-ls

Bump scarb (#1004)
  .tool-versions
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_dependency__removing_dependency.snap
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_member__removing_member.snap
  tests/e2e/scarb/snapshots/e2e__scarb__opening_multiple_workspaces__opening_dependency_first.snap
  tests/e2e/scarb/snapshots/e2e__scarb__simple_deps__simple_deps.snap
  tests/e2e/scarb/unmanaged_core.rs
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates.snap
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates_assert_macros.snap
Owners: @software-mansion/cairo-ls, @piotmag769, @arcticae

Fix executable lens placement (#1007)
  src/ide/code_lens/executables.rs
  tests/e2e/code_lens/executable.rs
  tests/e2e/code_lens/snapshots/e2e__code_lens__executable__one_executable_with_trivia.snap
Owners: @Draggu, @arcticae

Add signature for functions in dot completions
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/helpers/mod.rs
  tests/e2e/completions/dot.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Add support for handling optional `trait_id` in `format_type` function
  src/ide/code_actions/fill_trait_members.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/struct_constructor.rs
  src/ide/format/types.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/ide/inlay_hints/mod.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/variable.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls, @arcticae

Top level inline macro completions
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/mod.rs
Owners: @Draggu, @wawel37

Implement runtime loading of proc macros from arbitrary workspaces
  .tool-versions
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/ide/analysis_progress.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/client/mod.rs
  src/lang/proc_macros/client/status.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/lib.rs
  src/project/mod.rs
  src/server/routing/handlers.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Top level inline macro completions (#971)
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/mod.rs
Owners: @Draggu, @wawel37

Fix test code lenses
  src/ide/code_lens/tests.rs
  src/lang/db/syntax.rs
Owners: @Draggu, @arcticae, @software-mansion/cairo-ls

Fix resultants for whole vfs mapping to callsite
  src/lang/db/semantic.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/scarb/inline.rs
  src/lang/proc_macros/plugins/scarb/regular.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu

Add support for handling optional `trait_id` in `format_type` function
  src/ide/code_actions/fill_trait_members.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/struct_constructor.rs
  src/ide/format/types.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/ide/inlay_hints/mod.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/variable.rs
  tests/e2e/completions/dot.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls, @arcticae

Review related changes
  cairols-profile-1759224954404925.json
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/structs.rs
Owners: @software-mansion/cairo-ls, @Draggu, @wawel37

Fix lint
  src/ide/completion/path.rs
Owners: @Draggu, @wawel37

Completions for declarative macros
  Cargo.lock
  Cargo.toml
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @software-mansion/cairo-ls, @Draggu, @wawel37

Remove profile
  cairols-profile-1759224954404925.json
Owners: @software-mansion/cairo-ls

Struct initialization completion (#1002)
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/structs.rs
Owners: @Draggu, @wawel37

update cairo
  Cargo.lock
  Cargo.toml
  src/ide/completion/path.rs
Owners: @software-mansion/cairo-ls, @Draggu, @wawel37

Fix linter
  src/ide/completion/path.rs
Owners: @Draggu, @wawel37

cleanup
  src/ide/completion/path.rs
Owners: @Draggu, @wawel37

LS settings docs
  website/.vitepress/components/Home.vue
  website/.vitepress/config.mjs
  website/docs.md
  website/docs/settings.md
  website/package-lock.json
  website/package.json
Owners: @software-mansion/cairo-ls

Highlight tests for declarative macros
  tests/e2e/document_highlight/macros.rs
  tests/e2e/document_highlight/mod.rs
Owners: @piotmag769, @integraledelebesgue

Propose use completions when no text is typed
  src/ide/completion/use_statement.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37
