Repository software-mansion/cairols, changes with the owners that .github/CODEOWNERS names for each.
All owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @Draggu, @arcticae, @wawel37

Add completion type hints where possible (#1020)
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  tests/e2e/completions/patterns.rs
  tests/e2e/completions/traits.rs
  tests/e2e/completions/uses.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

bump cairo deps
  Cargo.lock
  Cargo.toml
Owners: @software-mansion/cairo-ls

format
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_lens/tests.rs
  src/ide/hover/render/literal.rs
  src/lang/db/semantic.rs
Owners: @Draggu, @integraledelebesgue, @arcticae, @wawel37, @software-mansion/cairo-ls

adjust to deps changes
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/code_lens/tests.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  src/ide/completion/struct_constructor.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/lang/analysis_context.rs
  src/lang/db/mod.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/mod.rs
  src/lang/diagnostics/lsp.rs
  src/lang/importer.rs
  src/lang/methods.rs
  src/lang/visibility.rs
Owners: @Draggu, @integraledelebesgue, @arcticae, @wawel37, @software-mansion/cairo-ls, @piotmag769

rename + format
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/fill_trait_members.rs
  src/ide/code_actions/missing_import.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/code_lens/tests.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  src/ide/hover/mod.rs
  src/ide/hover/render/literal.rs
  src/ide/inlay_hints/mod.rs
  src/lang/analysis_context.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/mod.rs
  src/lang/importer.rs
  src/lang/methods.rs
Owners: @Draggu, @integraledelebesgue, @arcticae, @wawel37, @software-mansion/cairo-ls

undo unneeded dep change
  Cargo.toml
Owners: @software-mansion/cairo-ls

apply review suggestions
  src/ide/code_actions/cairo_lint.rs
  src/lang/lsp/ls_proto_group_test.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

bump lint
  Cargo.lock
  Cargo.toml
  src/lang/diagnostics/lsp.rs
  src/lang/lsp/ls_proto_group_test.rs
  src/lang/proc_macros/db.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @arcticae, @Draggu

fix file id
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
Owners: @Draggu, @integraledelebesgue

resolve post-rebase issues
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/path.rs
Owners: @Draggu, @wawel37

Bump Cairo (#1026)
  Cargo.lock
  Cargo.toml
  src/ide/code_actions/cairo_lint.rs
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/fill_trait_members.rs
  src/ide/code_actions/missing_import.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/code_lens/tests.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/helpers/formatting.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  src/ide/hover/mod.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/ide/inlay_hints/mod.rs
  src/lang/analysis_context.rs
  src/lang/db/mod.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/mod.rs
  src/lang/diagnostics/lsp.rs
  src/lang/importer.rs
  src/lang/lsp/ls_proto_group_test.rs
  src/lang/methods.rs
  src/lang/proc_macros/db.rs
  src/lang/visibility.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @arcticae, @wawel37, @piotmag769

Remove `unsafe_downcast_ref`
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/lang/proc_macros/plugins/scarb/child_nodes.rs
  src/lang/proc_macros/plugins/scarb/conversion.rs
  src/lang/proc_macros/plugins/scarb/inline.rs
  src/lang/proc_macros/plugins/scarb/mod.rs
  src/lang/proc_macros/plugins/scarb/regular.rs
  src/lang/proc_macros/plugins/scarb/types.rs
Owners: @piotmag769, @Draggu

Make suggestions for typos work with macros
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/lang/methods.rs
  tests/e2e/code_actions/fill_trait_members.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_member.rs
  tests/e2e/code_actions/similar_method.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Fix typos code actions in proc macro controlled code (#1030)
  src/ide/code_actions/suggest_similar_member.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/lang/methods.rs
  tests/e2e/code_actions/fill_trait_members.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_member.rs
  tests/e2e/code_actions/similar_method.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Remove `unsafe_downcast_ref` (#1031)
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/proc_macros/plugins/mod.rs
  src/lang/proc_macros/plugins/scarb/child_nodes.rs
  src/lang/proc_macros/plugins/scarb/conversion.rs
  src/lang/proc_macros/plugins/scarb/inline.rs
  src/lang/proc_macros/plugins/scarb/mod.rs
  src/lang/proc_macros/plugins/scarb/regular.rs
  src/lang/proc_macros/plugins/scarb/types.rs
Owners: @piotmag769, @Draggu

Display path details to all completions
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/helpers/item.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/order.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/structs.rs
  tests/e2e/completions/traits.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Support declarative macros in completions
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/helpers/item.rs
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Remove `DowncastRefUnchecked` in favour of `Any`
  src/ide/introspection/crates.rs
  src/lang/mod.rs
  src/lang/plugins.rs
  src/lang/proc_macros/plugins/mod.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu

Fix resultants and add some code in test, which would fail if not for this fix
  src/lang/db/semantic.rs
  tests/e2e/code_actions/similar_member.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue

Support missing trait suggestion in proc macros
  src/ide/code_actions/add_missing_trait.rs
  src/lang/methods.rs
  tests/e2e/code_actions/missing_trait.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Remove `DowncastRefUnchecked` in favour of `Any` (#1036)
  src/ide/introspection/crates.rs
  src/lang/mod.rs
  src/lang/plugins.rs
  src/lang/proc_macros/plugins/mod.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu

Fix resultants (#1035)
  src/lang/db/semantic.rs
  tests/e2e/code_actions/similar_member.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue

Fix missing traits code action in proc macros (#1032)
  src/ide/code_actions/add_missing_trait.rs
  src/lang/methods.rs
  tests/e2e/code_actions/missing_trait.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Bump cairo, update snapshots
  .tool-versions
  Cargo.lock
  Cargo.toml
  tests/e2e/completions/path.rs
Owners: @software-mansion/cairo-ls, @Draggu, @wawel37

Bump cairo (+ scarb `nightly-2025-10-15`) (#1037)
  .tool-versions
  Cargo.lock
  Cargo.toml
  tests/e2e/completions/path.rs
Owners: @software-mansion/cairo-ls, @Draggu, @wawel37

.github/CODEOWNERS:

* @software-mansion/cairo-ls

/src/project @integraledelebesgue @piotmag769
/tests/e2e/analysis.rs @integraledelebesgue @piotmag769

/src/server @integraledelebesgue @Draggu @arcticae
/src/server/routing

/src/ide/code_actions @Draggu @integraledelebesgue
/tests/e2e/code_actions @Draggu @integraledelebesgue

/src/ide/code_lens @Draggu @arcticae
/tests/e2e/code_lens @Draggu @arcticae

/src/ide/completion @Draggu @wawel37
/tests/e2e/completions @Draggu @wawel37

/src/ide/hover @integraledelebesgue @wawel37
/tests/e2e/hover @integraledelebesgue @wawel37

/src/ide/inlay_hints @Draggu @arcticae
/tests/e2e/inlay_hints @Draggu @arcticae

/src/ide/instrospection @integraledelebesgue @piotmag769

/src/ide/macros @Draggu @wawel37
/tests/e2e/macros @Draggu @wawel37 @piotmag769

/src/ide/macros/navigation/goto_definition.rs @piotmag769 @wawel37
/tests/e2e/goto_definition @piotmag769 @wawel37

/src/ide/macros/navigation/highlight.rs @piotmag769 @integraledelebesgue
/tests/e2e/document_highlight @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/references.rs @piotmag769 @integraledelebesgue
/tests/e2e/find_references @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/rename.rs @piotmag769 @arcticae
/tests/e2e/rename @piotmag769 @arcticae

/src/ide/macros/semantic_highlighting @wawel37 @Draggu
/tests/e2e/semantic_tokens @wawel37 @Draggu

/src/ide/macros/analysis_progress.rs @arcticae @Draggu
/src/lang/defs @arcticae @wawel37
/src/lang/diagnostics @piotmag769 @arcticae
/src/lang/proc_macros @piotmag769 @Draggu
/src/lang/usages @piotmag769 @wawel37
/src/lang/rename_file.rs @Draggu @arcticae

/tests/e2e/scarb @piotmag769 @arcticae
/tests/e2e/linter.rs @integraledelebesgue @wawel37
