Repository software-mansion/cairols, changes with the owners that .github/CODEOWNERS names for each.
All owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @Draggu, @arcticae, @wawel37

.github/CODEOWNERS:

* @software-mansion/cairo-ls

/src/project @integraledelebesgue @piotmag769
/tests/e2e/analysis.rs @integraledelebesgue @piotmag769

/src/server @integraledelebesgue @Draggu @arcticae
/src/server/routing

/src/ide/code_actions @Draggu @integraledelebesgue
/tests/e2e/code_actions @Draggu @integraledelebesgue

/src/ide/code_lens @Draggu @arcticae
/tests/e2e/code_lens @Draggu @arcticae

/src/ide/completion @Draggu @wawel37
/tests/e2e/completions @Draggu @wawel37

/src/ide/hover @integraledelebesgue @wawel37
/tests/e2e/hover @integraledelebesgue @wawel37

/src/ide/inlay_hints @Draggu @arcticae
/tests/e2e/inlay_hints @Draggu @arcticae

/src/ide/instrospection @integraledelebesgue @piotmag769

/src/ide/macros @Draggu @wawel37
/tests/e2e/macros @Draggu @wawel37 @piotmag769

/src/ide/macros/navigation/goto_definition.rs @piotmag769 @wawel37
/tests/e2e/goto_definition @piotmag769 @wawel37

/src/ide/macros/navigation/highlight.rs @piotmag769 @integraledelebesgue
/tests/e2e/document_highlight @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/references.rs @piotmag769 @integraledelebesgue
/tests/e2e/find_references @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/rename.rs @piotmag769 @arcticae
/tests/e2e/rename @piotmag769 @arcticae

/src/ide/macros/semantic_highlighting @wawel37 @Draggu
/tests/e2e/semantic_tokens @wawel37 @Draggu

/src/ide/macros/analysis_progress.rs @arcticae @Draggu
/src/lang/defs @arcticae @wawel37
/src/lang/diagnostics @piotmag769 @arcticae
/src/lang/proc_macros @piotmag769 @Draggu
/src/lang/usages @piotmag769 @wawel37
/src/lang/rename_file.rs @Draggu @arcticae

/tests/e2e/scarb @piotmag769 @arcticae
/tests/e2e/linter.rs @integraledelebesgue @wawel37

Refactor update checks workflows to use `nextest`
  .github/workflows/cairo-update-check.yml
  .github/workflows/scarb-nightly-check.yml
Owners: @software-mansion/cairo-ls

Make proc macro expand first
  src/lang/db/mod.rs
  src/lang/proc_macros/controller.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Make proc macros expand first (#916)
  src/lang/db/mod.rs
  src/lang/proc_macros/controller.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Make proc macro expand first
  src/lang/db/mod.rs
  src/lang/proc_macros/controller.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Add GitHub Action to auto-assign LS Team as reviewers
  .github/workflows/auto-assign-team-to-review.yml
Owners: @software-mansion/cairo-ls

Add GitHub Action to auto-assign LS Team as reviewers
  .github/workflows/auto-assign-team-to-review.yml
Owners: @software-mansion/cairo-ls

Don't use nightly in cairo update check
  .github/workflows/cairo-update-check.yml
Owners: @software-mansion/cairo-ls

Refactor update checks workflows to use `nextest` (#933)
  .github/workflows/cairo-update-check.yml
  .github/workflows/scarb-nightly-check.yml
Owners: @software-mansion/cairo-ls

Add GitHub Action to auto-assign LS Team as reviewers (#937)
  .github/workflows/auto-assign-team-to-review.yml
Owners: @software-mansion/cairo-ls

Cherry-pick "Make proc macro expand first" (#934)
  src/lang/db/mod.rs
  src/lang/proc_macros/controller.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @Draggu, @integraledelebesgue

Fix respecting lint config
  src/project/model/configs_registry/package_config.rs
  src/project/model/configs_registry/package_config_test.rs
  tests/e2e/external_tools_config.rs
  tests/e2e/main.rs
Owners: @integraledelebesgue, @piotmag769, @software-mansion/cairo-ls

Fix respecting lint config
  src/project/model/configs_registry/package_config.rs
  src/project/model/configs_registry/package_config_test.rs
  tests/e2e/external_tools_config.rs
  tests/e2e/main.rs
Owners: @integraledelebesgue, @piotmag769, @software-mansion/cairo-ls

Fix respecting lint config (#935)
  src/project/model/configs_registry/package_config.rs
  src/project/model/configs_registry/package_config_test.rs
  tests/e2e/external_tools_config.rs
  tests/e2e/main.rs
Owners: @integraledelebesgue, @piotmag769, @software-mansion/cairo-ls

Cherry pick "Fix respecting lint config" (#938)
  src/project/model/configs_registry/package_config.rs
  src/project/model/configs_registry/package_config_test.rs
  tests/e2e/external_tools_config.rs
  tests/e2e/main.rs
Owners: @integraledelebesgue, @piotmag769, @software-mansion/cairo-ls

Use snippets in dot method completions
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/mod.rs
  src/ide/completion/helpers/snippets.rs
  tests/e2e/completions/dot.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Bump cairo for 2.12.1 + release
  Cargo.lock
  Cargo.toml
Owners: @software-mansion/cairo-ls

Remove needless arguments from completions code
  src/ide/completion/dot_completions.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
Owners: @Draggu, @wawel37

Support generic parameters and arguments in `find_definition`
  src/ide/format/traits.rs
  src/ide/hover/render/definition.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/mod.rs
  tests/e2e/hover/traits.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @wawel37, @arcticae

Resolve generic parameters and arguments in `find_definition` (#878)
  src/ide/format/traits.rs
  src/ide/hover/render/definition.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/defs/mod.rs
  tests/e2e/hover/traits.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @wawel37, @arcticae

Add tests of LSP features for generic parameters
  src/ide/format/traits.rs
  src/lang/defs/generic_param.rs
  tests/e2e/find_references/generic_params.rs
  tests/e2e/find_references/mod.rs
  tests/e2e/goto_definition/generic_params.rs
  tests/e2e/goto_definition/mod.rs
  tests/e2e/hover/generic_params.rs
  tests/e2e/hover/mod.rs
Owners: @software-mansion/cairo-ls, @arcticae, @wawel37, @piotmag769, @integraledelebesgue

Add tests of LSP features for generic parameters (#895)
  src/ide/format/traits.rs
  src/lang/defs/generic_param.rs
  tests/e2e/find_references/generic_params.rs
  tests/e2e/find_references/mod.rs
  tests/e2e/goto_definition/generic_params.rs
  tests/e2e/goto_definition/mod.rs
  tests/e2e/hover/generic_params.rs
  tests/e2e/hover/mod.rs
Owners: @software-mansion/cairo-ls, @arcticae, @wawel37, @piotmag769, @integraledelebesgue

wip
  src/server/routing/handlers.rs
Owners: none

Make cfg plugin run first
  Cargo.lock
  Cargo.toml
  src/lang/db/mod.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769

Use snippets in dot method completions
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/mod.rs
  src/ide/completion/helpers/snippets.rs
  tests/e2e/completions/dot.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Use snippets in dot method completions (#939)
  src/ide/completion/dot_completions.rs
  src/ide/completion/helpers/mod.rs
  src/ide/completion/helpers/snippets.rs
  tests/e2e/completions/dot.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Add "suggest_similar_method" code action for typo corrections
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/completion/dot_completions.rs
  src/lang/importer.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_method.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls

Make cfg plugin run first (#943)
  Cargo.lock
  Cargo.toml
  src/lang/db/mod.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769

Make cfg plugin run first
  Cargo.lock
  Cargo.toml
  src/lang/db/mod.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769

Remove conditional task in favour of revision check
  src/lib.rs
  src/server/schedule/mod.rs
  src/server/schedule/task.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @Draggu, @arcticae

Cherry pick: Make cfg plugin run first (#945)
  Cargo.lock
  Cargo.toml
  src/lang/db/mod.rs
  src/project/crate_data.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769

Remove conditional task in favour of revision check (#946)
  src/lib.rs
  src/server/schedule/mod.rs
  src/server/schedule/task.rs
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @Draggu, @arcticae

Add `suggest_similar_method` code action (#944)
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/completion/dot_completions.rs
  src/lang/importer.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_method.rs
Owners: @Draggu, @integraledelebesgue, @wawel37, @software-mansion/cairo-ls

Debug version of optimized highlighting
  src/ide/semantic_highlighting/encoder.rs
  src/ide/semantic_highlighting/token_kind.rs
  src/ide/semantic_highlighting/token_traverser.rs
  src/lang/db/semantic.rs
  src/server/routing/handlers.rs
Owners: @software-mansion/cairo-ls

Remove debugs
  src/ide/semantic_highlighting/encoder.rs
  src/ide/semantic_highlighting/token_kind.rs
  src/ide/semantic_highlighting/token_traverser.rs
  src/server/routing/handlers.rs
Owners: @software-mansion/cairo-ls

Fix tests probably
  src/lang/db/semantic.rs
Owners: @software-mansion/cairo-ls

Bump cairo for 2.12.1 + release
  Cargo.lock
  Cargo.toml
Owners: @software-mansion/cairo-ls

Bump cairo for 2.12.1 + release (#941)
  Cargo.lock
  Cargo.toml
Owners: @software-mansion/cairo-ls

Fix tests probably (more probably now)
  src/lang/db/semantic.rs
Owners: @software-mansion/cairo-ls

Implement desnap for cases where snapshot is passed for the lookup
  src/lang/defs/finder.rs
  tests/e2e/goto_definition/traits.rs
Owners: @arcticae, @wawel37, @piotmag769

Optimize resultants (#948)
  src/lang/db/semantic.rs
Owners: @software-mansion/cairo-ls
