Repository software-mansion/cairols, changes with the owners that .github/CODEOWNERS names for each.
All owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @Draggu, @arcticae, @wawel37

another review changes
  src/ide/completion/mod.rs
  src/ide/completion/use_statement.rs
  tests/e2e/completions/methods_text_edits.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/traits.rs
Owners: @Draggu, @wawel37

fix tests
  src/ide/completion/mod.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Clean `complete_ex` (#979)
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
Owners: @Draggu, @wawel37

Create ls docs website with basic docs (#959)
  .github/workflows/website-deploy.yml
  website/.gitignore
  website/.prettierrc.json
  website/.vitepress/components/Footer.vue
  website/.vitepress/components/Home.vue
  website/.vitepress/config.mjs
  website/.vitepress/syntaxes.mjs
  website/.vitepress/theme/Layout.vue
  website/.vitepress/theme/index.js
  website/.vitepress/theme/style.css
  website/docs.md
  website/docs/troubleshooting.md
  website/index.md
  website/package-lock.json
  website/package.json
  website/public/apple-touch-icon.png
  website/public/favicon.ico
  website/public/favicon.svg
Owners: @software-mansion/cairo-ls

Support top level declarative macros
  src/ide/navigation/goto_definition.rs
  src/ide/navigation/rename.rs
  src/lang/defs/finder.rs
  src/lang/defs/mod.rs
  src/lang/defs/module.rs
  tests/e2e/find_references/macros.rs
  tests/e2e/goto_definition/macros.rs
  tests/e2e/hover/macros.rs
  tests/e2e/rename/macros.rs
Owners: @software-mansion/cairo-ls, @arcticae, @wawel37, @piotmag769, @integraledelebesgue

Filter dot completions
  src/ide/completion/dot_completions.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Add test for dot completions with mutable self
  tests/e2e/completions/dot.rs
Owners: @Draggu, @wawel37

Add test for member access with non existent method
  tests/e2e/goto_definition/traits.rs
Owners: @piotmag769, @wawel37

Bump cairo and lint
  Cargo.lock
  Cargo.toml
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/fill_trait_members.rs
  src/ide/code_actions/missing_import.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  src/ide/format/traits.rs
  src/ide/hover/mod.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/ide/inlay_hints/mod.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/importer.rs
  src/lang/methods.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @wawel37, @arcticae

Bump cairo and lint (#985)
  Cargo.lock
  Cargo.toml
  src/ide/code_actions/fill_struct_fields.rs
  src/ide/code_actions/fill_trait_members.rs
  src/ide/code_actions/missing_import.rs
  src/ide/code_actions/suggest_similar_method.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  src/ide/format/traits.rs
  src/ide/hover/mod.rs
  src/ide/hover/render/literal.rs
  src/ide/hover/render/ty.rs
  src/ide/inlay_hints/mod.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/generic_param.rs
  src/lang/importer.rs
  src/lang/methods.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @wawel37, @arcticae

change rust toolchain from master to stable
  .github/workflows/website-deploy.yml
Owners: @software-mansion/cairo-ls

Remove updating docs
  .github/workflows/website-deploy.yml
  website/package.json
Owners: @software-mansion/cairo-ls

Change rust toolchain from master to stable in website deploy (#987)
  .github/workflows/website-deploy.yml
  website/package.json
Owners: @software-mansion/cairo-ls

Change url for docs
  website/.vitepress/components/Home.vue
  website/.vitepress/config.mjs
  website/package-lock.json
  website/package.json
Owners: @software-mansion/cairo-ls

Change docs url to cairols
  website/.vitepress/components/Home.vue
  website/.vitepress/config.mjs
  website/package.json
Owners: @software-mansion/cairo-ls

Change docs url to cairols (#989)
  website/.vitepress/components/Home.vue
  website/.vitepress/config.mjs
  website/package.json
Owners: @software-mansion/cairo-ls

Sort completions for client side extensions
  src/ide/completion/mod.rs
Owners: @Draggu, @wawel37

Propose use completions when no text is typed
  src/ide/completion/path.rs
  src/ide/completion/use_statement.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Add test for use statements completions
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Snippet completions for non-method functions
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Add code action to suggest similar struct members
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/lang/members.rs
  src/lang/mod.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_member.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Add code action to suggest similar struct members (#956)
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/lang/members.rs
  src/lang/mod.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_member.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Support top level declarative macros (#981)
  src/ide/navigation/goto_definition.rs
  src/ide/navigation/rename.rs
  src/lang/defs/finder.rs
  src/lang/defs/mod.rs
  src/lang/defs/module.rs
  tests/e2e/find_references/macros.rs
  tests/e2e/goto_definition/macros.rs
  tests/e2e/hover/macros.rs
  tests/e2e/rename/macros.rs
Owners: @software-mansion/cairo-ls, @arcticae, @wawel37, @piotmag769, @integraledelebesgue

Filter dot completions (#982)
  src/ide/completion/dot_completions.rs
  tests/e2e/completions/methods_text_edits.rs
Owners: @Draggu, @wawel37

Add test for dot completions with mutable self (#983)
  tests/e2e/completions/dot.rs
Owners: @Draggu, @wawel37

Add lowest completion relevance
  src/ide/completion/attribute/derive.rs
  src/ide/completion/attribute/mod.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/item.rs
  src/ide/completion/helpers/mod.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  src/lang/importable.rs
  src/lang/mod.rs
Owners: @Draggu, @wawel37, @software-mansion/cairo-ls

Add test for member access with non existent method (#984)
  tests/e2e/goto_definition/traits.rs
Owners: @piotmag769, @wawel37

Highlight tests for declarative macros
  tests/e2e/document_highlight/macros.rs
  tests/e2e/document_highlight/mod.rs
Owners: @piotmag769, @integraledelebesgue

Use ordering of backend for frontend completions order
  src/ide/completion/helpers/item.rs
  src/ide/completion/mod.rs
Owners: @Draggu, @wawel37

Add comments regarding ordering of found methods
  src/ide/completion/dot_completions.rs
  src/lang/methods.rs
Owners: @Draggu, @wawel37, @software-mansion/cairo-ls

Remove item label from sort_text field
  src/ide/completion/mod.rs
Owners: @Draggu, @wawel37

Order completions (#976)
  src/ide/completion/attribute/derive.rs
  src/ide/completion/attribute/mod.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/item.rs
  src/ide/completion/helpers/mod.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  src/ide/completion/self_completions.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  src/lang/importable.rs
  src/lang/methods.rs
  src/lang/mod.rs
  tests/e2e/completions/mod.rs
  tests/e2e/completions/order.rs
  tests/e2e/completions/traits.rs
Owners: @Draggu, @wawel37, @software-mansion/cairo-ls

Fix `integration_test_with_fork_and_fuzzer`
  tests/e2e/macros/fixtures.rs
  tests/e2e/macros/procedural/snforge/mod.rs
Owners: @Draggu, @wawel37, @piotmag769

Remove `cairo-lang-proc-macros` and use `dyn Database`
  Cargo.lock
  Cargo.toml
  src/ide/code_actions/cairo_lint.rs
  src/ide/completion/mod.rs
  src/ide/hover/mod.rs
  src/ide/hover/render/ty.rs
  src/ide/navigation/goto_definition.rs
  src/ide/navigation/highlight.rs
  src/ide/navigation/references.rs
  src/ide/navigation/rename.rs
  src/ide/semantic_highlighting/token_kind.rs
  src/lang/db/mod.rs
  src/lang/db/semantic.rs
  src/lang/db/swapper.rs
  src/lang/db/syntax.rs
  src/lang/db/upstream.rs
  src/lang/defs/finder.rs
  src/lang/defs/item.rs
  src/lang/defs/mod.rs
  src/lang/diagnostics/file_diagnostics.rs
  src/lang/lsp/ls_proto_group_test.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/client/plain_request_response.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/usages/search_scope.rs
  src/lib.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @wawel37, @arcticae, @piotmag769

Fix `integration_test_with_fork_and_fuzzer` (#995)
  tests/e2e/macros/fixtures.rs
  tests/e2e/macros/procedural/snforge/mod.rs
Owners: @Draggu, @wawel37, @piotmag769

Remove `cairo-lang-proc-macros` and use `dyn Database` (#991)
  Cargo.lock
  Cargo.toml
  src/ide/code_actions/cairo_lint.rs
  src/ide/completion/mod.rs
  src/ide/hover/mod.rs
  src/ide/hover/render/ty.rs
  src/ide/navigation/goto_definition.rs
  src/ide/navigation/highlight.rs
  src/ide/navigation/references.rs
  src/ide/navigation/rename.rs
  src/ide/semantic_highlighting/token_kind.rs
  src/lang/db/mod.rs
  src/lang/db/semantic.rs
  src/lang/db/swapper.rs
  src/lang/db/syntax.rs
  src/lang/db/upstream.rs
  src/lang/defs/finder.rs
  src/lang/defs/item.rs
  src/lang/defs/mod.rs
  src/lang/diagnostics/file_diagnostics.rs
  src/lang/lsp/ls_proto_group_test.rs
  src/lang/proc_macros/cache.rs
  src/lang/proc_macros/client/plain_request_response.rs
  src/lang/proc_macros/controller.rs
  src/lang/proc_macros/db.rs
  src/lang/proc_macros/plugins/downcast.rs
  src/lang/usages/search_scope.rs
  src/lib.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @wawel37, @arcticae, @piotmag769

Bump Cairo
  Cargo.lock
  Cargo.toml
  src/ide/code_actions/fill_trait_members.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/snippets.rs
  src/ide/completion/path.rs
  src/ide/semantic_highlighting/token_traverser.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @wawel37, @arcticae

Bump Cairo (#997)
  Cargo.lock
  Cargo.toml
  src/ide/code_actions/fill_trait_members.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/helpers/snippets.rs
  src/ide/completion/path.rs
  src/ide/semantic_highlighting/token_traverser.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
Owners: @software-mansion/cairo-ls, @Draggu, @integraledelebesgue, @wawel37, @arcticae

Top level inline macro completions
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  tests/e2e/completions/macros.rs
  tests/e2e/completions/mod.rs
Owners: @Draggu, @wawel37

Update hover rendering to display member/variant defs only
  src/ide/hover/render/definition.rs
  tests/e2e/hover/basic.rs
  tests/e2e/hover/structs.rs
  tests/e2e/hover/traits.rs
Owners: @integraledelebesgue, @wawel37

.github/CODEOWNERS:

* @software-mansion/cairo-ls

/src/project @integraledelebesgue @piotmag769
/tests/e2e/analysis.rs @integraledelebesgue @piotmag769

/src/server @integraledelebesgue @Draggu @arcticae
/src/server/routing

/src/ide/code_actions @Draggu @integraledelebesgue
/tests/e2e/code_actions @Draggu @integraledelebesgue

/src/ide/code_lens @Draggu @arcticae
/tests/e2e/code_lens @Draggu @arcticae

/src/ide/completion @Draggu @wawel37
/tests/e2e/completions @Draggu @wawel37

/src/ide/hover @integraledelebesgue @wawel37
/tests/e2e/hover @integraledelebesgue @wawel37

/src/ide/inlay_hints @Draggu @arcticae
/tests/e2e/inlay_hints @Draggu @arcticae

/src/ide/instrospection @integraledelebesgue @piotmag769

/src/ide/macros @Draggu @wawel37
/tests/e2e/macros @Draggu @wawel37 @piotmag769

/src/ide/macros/navigation/goto_definition.rs @piotmag769 @wawel37
/tests/e2e/goto_definition @piotmag769 @wawel37

/src/ide/macros/navigation/highlight.rs @piotmag769 @integraledelebesgue
/tests/e2e/document_highlight @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/references.rs @piotmag769 @integraledelebesgue
/tests/e2e/find_references @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/rename.rs @piotmag769 @arcticae
/tests/e2e/rename @piotmag769 @arcticae

/src/ide/macros/semantic_highlighting @wawel37 @Draggu
/tests/e2e/semantic_tokens @wawel37 @Draggu

/src/ide/macros/analysis_progress.rs @arcticae @Draggu
/src/lang/defs @arcticae @wawel37
/src/lang/diagnostics @piotmag769 @arcticae
/src/lang/proc_macros @piotmag769 @Draggu
/src/lang/usages @piotmag769 @wawel37
/src/lang/rename_file.rs @Draggu @arcticae

/tests/e2e/scarb @piotmag769 @arcticae
/tests/e2e/linter.rs @integraledelebesgue @wawel37
