Repository software-mansion/cairols, changes with the owners that .github/CODEOWNERS names for each.
All owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @Draggu, @arcticae, @wawel37

Remove needless arguments from completions code
  src/ide/completion/dot_completions.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
Owners: @Draggu, @wawel37

Remove needless arguments from completions code (#942)
  src/ide/completion/dot_completions.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
Owners: @Draggu, @wawel37

Add code action to suggest similar struct members
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/lang/members.rs
  src/lang/mod.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_member.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Add test for `GotoDefinition` with starknet plugin
  tests/e2e/goto_definition/traits.rs
Owners: @piotmag769, @wawel37

Create ls docs website with basic docs
  .github/workflows/website-deploy.yml
  website/.gitignore
  website/.prettierrc.json
  website/.vitepress/components/Footer.vue
  website/.vitepress/components/Home.vue
  website/.vitepress/config.mjs
  website/.vitepress/syntaxes.mjs
  website/.vitepress/theme/Layout.vue
  website/.vitepress/theme/index.js
  website/.vitepress/theme/style.css
  website/docs.md
  website/docs/troubleshooting.md
  website/index.md
  website/package-lock.json
  website/package.json
  website/public/apple-touch-icon.png
  website/public/favicon.ico
  website/public/favicon.svg
Owners: @software-mansion/cairo-ls

Remove assign review job that doesn't work properly anyway
  .github/workflows/auto-assign-team-to-review.yml
Owners: @software-mansion/cairo-ls

Remove assign review job (#961)
  .github/workflows/auto-assign-team-to-review.yml
Owners: @software-mansion/cairo-ls

Update hover rendering to display member/variant defs only
  src/ide/hover/render/definition.rs
  tests/e2e/hover/basic.rs
  tests/e2e/hover/structs.rs
  tests/e2e/hover/traits.rs
Owners: @integraledelebesgue, @wawel37

Review related changes
  .github/workflows/website-deploy.yml
  website/docs/troubleshooting.md
Owners: @software-mansion/cairo-ls

Implement desnap for cases where snapshot is passed for the `SymbolDef` lookups (#949)
  src/lang/defs/finder.rs
  tests/e2e/goto_definition/traits.rs
Owners: @arcticae, @wawel37, @piotmag769

Propose use completions when no text is typed
  src/ide/completion/path.rs
  src/ide/completion/use_statement.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Add test for use statements completions
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Snippet completions for non-method functions
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Expand declarative macro goto definition tests
  tests/e2e/goto_definition/macros.rs
Owners: @piotmag769, @wawel37

Basic support for declarative macro goto
  src/ide/hover/render/definition.rs
  src/lang/defs/declarative_macro.rs
  src/lang/defs/finder.rs
  src/lang/defs/mod.rs
Owners: @integraledelebesgue, @wawel37, @arcticae

Support for declarative macro gotos on use statements
  src/lang/defs/mod.rs
Owners: @arcticae, @wawel37

Basic support for declarative macro goto
  src/ide/hover/render/definition.rs
  src/lang/defs/declarative_macro.rs
  src/lang/defs/finder.rs
  src/lang/defs/mod.rs
Owners: @integraledelebesgue, @wawel37, @arcticae

Support for declarative macro gotos on use statements
  src/lang/defs/mod.rs
Owners: @arcticae, @wawel37

wip
  src/ide/completion/attribute/derive.rs
  src/ide/completion/attribute/mod.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  src/ide/completion/self_completions.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
Owners: @Draggu, @wawel37

Top level inline macro completions
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
Owners: @Draggu, @wawel37

Add tests for ordering of completions
  src/ide/completion/attribute/derive.rs
  src/ide/completion/attribute/mod.rs
  src/ide/completion/dot_completions.rs
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/path.rs
  src/ide/completion/pattern.rs
  src/ide/completion/self_completions.rs
  src/ide/completion/struct_constructor.rs
  src/ide/completion/use_statement.rs
  tests/e2e/completions/methods_text_edits.rs
  tests/e2e/completions/mod.rs
  tests/e2e/completions/order.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/traits.rs
Owners: @Draggu, @wawel37

Basic support for declarative macro goto
  src/ide/hover/render/definition.rs
  src/ide/navigation/rename.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/mod.rs
  src/lang/usages/mod.rs
Owners: @integraledelebesgue, @wawel37, @software-mansion/cairo-ls, @arcticae, @piotmag769

Support for declarative macros in `SymbolDef` (#965)
  src/ide/hover/render/definition.rs
  src/ide/navigation/rename.rs
  src/lang/db/semantic.rs
  src/lang/defs/finder.rs
  src/lang/defs/mod.rs
  src/lang/usages/mod.rs
Owners: @integraledelebesgue, @wawel37, @software-mansion/cairo-ls, @arcticae, @piotmag769

Tests for goto on declarative macros
  tests/e2e/goto_definition/macros.rs
Owners: @piotmag769, @wawel37

Expand declarative macro goto definition tests (#967)
  tests/e2e/goto_definition/macros.rs
Owners: @piotmag769, @wawel37

Find ref tests for declarative macros
  tests/e2e/find_references/macros.rs
Owners: @piotmag769, @integraledelebesgue

Hover tests for declarative macros
  tests/e2e/hover/basic.rs
  tests/e2e/hover/macros.rs
  tests/e2e/hover/mod.rs
Owners: @integraledelebesgue, @wawel37

Rename tests for declarative macros
  src/ide/navigation/rename.rs
  tests/e2e/rename/macros.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @arcticae

Find ref tests for declarative macros (#972)
  tests/e2e/find_references/macros.rs
Owners: @piotmag769, @integraledelebesgue

Hover tests for declarative macros (#973)
  tests/e2e/hover/basic.rs
  tests/e2e/hover/macros.rs
  tests/e2e/hover/mod.rs
Owners: @integraledelebesgue, @wawel37

Add code action to suggest similar struct members
  src/ide/code_actions/mod.rs
  src/ide/code_actions/suggest_similar_member.rs
  src/lang/members.rs
  src/lang/mod.rs
  tests/e2e/code_actions/mod.rs
  tests/e2e/code_actions/similar_member.rs
Owners: @Draggu, @integraledelebesgue, @software-mansion/cairo-ls

Rename tests for declarative macros (#974)
  src/ide/navigation/rename.rs
  tests/e2e/rename/macros.rs
Owners: @software-mansion/cairo-ls, @piotmag769, @arcticae

Bump scarb and cairo
  .tool-versions
  Cargo.lock
  Cargo.toml
  tests/e2e/analysis.rs
  tests/e2e/hover/macros.rs
  tests/e2e/macros/builtin/mod.rs
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_dependency__removing_dependency.snap
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_member__removing_member.snap
  tests/e2e/scarb/simple_deps.rs
  tests/e2e/scarb/snapshots/e2e__scarb__opening_multiple_workspaces__opening_dependency_first.snap
  tests/e2e/scarb/unmanaged_core.rs
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates.snap
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates_assert_macros.snap
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @wawel37, @Draggu, @arcticae

Clean `complete_ex`
  src/ide/completion/expr/macro_call.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
Owners: @Draggu, @wawel37

Bump scarb and cairo (#978)
  .tool-versions
  Cargo.lock
  Cargo.toml
  tests/e2e/analysis.rs
  tests/e2e/hover/macros.rs
  tests/e2e/macros/builtin/mod.rs
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_dependency__removing_dependency.snap
  tests/e2e/scarb/scarb_toml_change/snapshots/e2e__scarb__scarb_toml_change__removing_member__removing_member.snap
  tests/e2e/scarb/simple_deps.rs
  tests/e2e/scarb/snapshots/e2e__scarb__opening_multiple_workspaces__opening_dependency_first.snap
  tests/e2e/scarb/unmanaged_core.rs
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates.snap
  tests/e2e/snapshots/e2e__analysis__view_analyzed_crates_assert_macros.snap
Owners: @software-mansion/cairo-ls, @integraledelebesgue, @piotmag769, @wawel37, @Draggu, @arcticae

Add test for use statements completions
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Propose use completions when no text is typed
  src/ide/completion/path.rs
  src/ide/completion/use_statement.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/uses.rs
Owners: @Draggu, @wawel37

Snippet completions for non-method functions
  src/ide/completion/path.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/vars_and_params.rs
Owners: @Draggu, @wawel37

Review changes part 1
  src/ide/completion/dot_completions.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/mod.rs
  src/ide/completion/path.rs
  tests/e2e/completions/methods_text_edits.rs
  tests/e2e/completions/path.rs
Owners: @Draggu, @wawel37

Add highest relevance to completion order
  src/ide/completion/function/params.rs
  src/ide/completion/function/variables.rs
  src/ide/completion/mod.rs
  src/ide/completion/mod_item.rs
  src/ide/completion/pattern.rs
  tests/e2e/completions/methods_text_edits.rs
  tests/e2e/completions/path.rs
  tests/e2e/completions/traits.rs
Owners: @Draggu, @wawel37

.github/CODEOWNERS:

* @software-mansion/cairo-ls

/src/project @integraledelebesgue @piotmag769
/tests/e2e/analysis.rs @integraledelebesgue @piotmag769

/src/server @integraledelebesgue @Draggu @arcticae
/src/server/routing

/src/ide/code_actions @Draggu @integraledelebesgue
/tests/e2e/code_actions @Draggu @integraledelebesgue

/src/ide/code_lens @Draggu @arcticae
/tests/e2e/code_lens @Draggu @arcticae

/src/ide/completion @Draggu @wawel37
/tests/e2e/completions @Draggu @wawel37

/src/ide/hover @integraledelebesgue @wawel37
/tests/e2e/hover @integraledelebesgue @wawel37

/src/ide/inlay_hints @Draggu @arcticae
/tests/e2e/inlay_hints @Draggu @arcticae

/src/ide/instrospection @integraledelebesgue @piotmag769

/src/ide/macros @Draggu @wawel37
/tests/e2e/macros @Draggu @wawel37 @piotmag769

/src/ide/macros/navigation/goto_definition.rs @piotmag769 @wawel37
/tests/e2e/goto_definition @piotmag769 @wawel37

/src/ide/macros/navigation/highlight.rs @piotmag769 @integraledelebesgue
/tests/e2e/document_highlight @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/references.rs @piotmag769 @integraledelebesgue
/tests/e2e/find_references @piotmag769 @integraledelebesgue

/src/ide/macros/navigation/rename.rs @piotmag769 @arcticae
/tests/e2e/rename @piotmag769 @arcticae

/src/ide/macros/semantic_highlighting @wawel37 @Draggu
/tests/e2e/semantic_tokens @wawel37 @Draggu

/src/ide/macros/analysis_progress.rs @arcticae @Draggu
/src/lang/defs @arcticae @wawel37
/src/lang/diagnostics @piotmag769 @arcticae
/src/lang/proc_macros @piotmag769 @Draggu
/src/lang/usages @piotmag769 @wawel37
/src/lang/rename_file.rs @Draggu @arcticae

/tests/e2e/scarb @piotmag769 @arcticae
/tests/e2e/linter.rs @integraledelebesgue @wawel37
